#objetodelistanovedades {
	margin: 10px;
	border-width: 2px;
	border-radius: 6px;
}

#tituloofertadelista { /*el que aparece con el nombre de la oferta en la lista*/
	margin:8px 0px 0px 0px;
	padding: 0px;
}

#hastaofertadelista { /*palabra hasta en la lista de ofertas*/
	margin:0px 0px 0px 0px;
	padding: 0px;
}

#fechafinofertadelista { /*fechafin que aparece en la lista de ofertas*/
	margin:0px 0px 0px 0px;
	padding: 0px;
}

#bloquededetalle{
	border-width: 2px;
	border-radius: 6px;

}

#map{
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

.swiper-container {
    width: 450px;
    height: 450px;
}  
