#map {
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

.swiper-container {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;        /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.imagenoferta {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/*************************************************************/

/*empecamos a sobreescribir los css del jquery y nativedroid2*/

.ui-contentLista {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 0px;
}

.ui-contentLista .listaOFertas {
  margin: 5px 5px 5px 5px;
}

.listaOFertas>li {
  display: block;
  position: relative;
  overflow: visible;
  background-color: white;
  padding: 0px;
}

.listaOFertas,
.listaOFertas>li {
  margin-bottom: 5px;
  padding: 0px;
  list-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
  border: 0px solid transparent;
}