<div data-role="panel" id="mypanel" data-display="overlay" data-position-fixed="true" >
	<div class='nd2-sidepanel-profile wow fadeInDown'>
		<div class="row">
			<div class='col-xs-4 center-xs'>
				<div class='box'>
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='box profile-text'>
					<strong>Menu Real G 4 life</strong>
					<span class='subline'>Super Power User</span>
				</div>
			</div>
		</div>
	</div>
	<ul data-role="listview" data-inset="false" data-icon="false">
		<li><a href="#" data-ajax='false' data-icon="false">Novedades!</a></li>
		<li><a href="#" data-ajax='false' data-icon="false">Una categoria</a></li>
		<li><a href="#" data-ajax='false' data-icon="false">Otra categoria</a></li>
		<li><a href="#" data-ajax='false'>otra &amp; categoria</a></li>
		<li><a href="#" data-ajax='false'>una categoria mas</a></li>
	</ul>
	<hr class="inset">
	<ul data-role="listview" data-inset="false"> 
		<li>
			<a href="#">Contactenos!</a>
		</li>
		<li>
			<a href="#">Salir</a>
		</li>
	</ul>
</div>
<!-- /panel left -->